.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  background-color: lightcoral;
  color: blue;
}
body {
  display: flex;
  justify-content: center;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid teal;
}

.App {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
button {
  width: 70px;
  height: 70px;
  background-color: gold;
  color: white;
  margin-left: 1px;
  /* border: 1px solid teal; */
}
button:disabled {
  background-color: red;
}
button:active {
  background-color: green;
}
